* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: rgb(230, 196, 4);
}

.inbox {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 8px 8px 8px rgba(44, 44, 44, 0.5);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.input__checkbox {
  margin: 20px;
}

.input__checkbox:checked + .text {
  text-decoration: line-through;
}

.text {
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 200;
  border-left: 1px solid #d1e2ff;
}
